.RichEditor-root {
  background: #fff;
  border: 1px solid #ddd;
  font-family: "Georgia", serif;
  font-size: 14px;
  padding: 15px;
  width: 100%;
}

.RichEditor-editor {
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
  text-align: justify;
  font-weight: 500;
}

.tool-button {
  background: #fbfbfb;
  color: grey;
  font-size: 18px;
  border: 0;
  height: 34px;
  width: 36px;
}

.tool-button:hover,
.tool-button:focus {
  background: #f3f3f3;
}

@media only screen and (min-width: 768px) {
  .RichEditor-root {
    background: rgb(255, 255, 255);
    border: 10px solid #ddd;
    font-family: "Georgia", serif;
    font-size: 14px;
    padding: 5px;
    width: 100%;
    height: auto;
  }
}
