.post-button {
  font-weight: 500;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20;
  margin: 20px;
  padding: 10px;
  font-size: 18px;
  font-weight: 600;
  border: 0px;
}

.post-button:hover {
  box-shadow: black;
  color: white;
  background-color: crimson;
}
