.user-info {
  background-color: black;
  padding: 20px;
  color: white;
}

.profile-picture {
  align-self: center;
  justify-self: center;
}

.cropped {
  width: 150px;
  /* width of container */
  height: 150px;
  /* height of container */
  overflow: hidden;
  margin: 10px;
}

.cropped img {
  margin: -10px 0px 0px -180px;
}

.user-name {
  font-size: 16px;
  font-weight: 550;
  text-align: center;
  align-self: center;
  justify-self: center;
}

.other-details {
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
}

.btn-profile {
  background-color: black;
  color: white;
  border-radius: 0px;
  border: 0px;
  height: 40px;
  width: 120px;
  background-color: crimson;
}

.follow {
  font-size: 14px;
  font-weight: 700;
}

.btn-profile:hover {
  color: white;
  background-color: rgb(228, 65, 65);
}

.description {
  padding: 20px;
  font-size: 16px;
  color: rgb(122, 120, 120);
  border-top: 3px solid lightgray;
  border-bottom: 3px solid lightgray;
  justify-content: center;
  word-wrap: break-word;
}

.user-bar {
  background-color: white;
  padding: 10px;
  display: grid;
  justify-content: center;
}

.user-post {
  align-self: center;
  justify-self: center;
}

.btn-profile-user-bar {
  width: 115px;
  text-align: center;
  font-weight: bolder;
  font-size: 16px;
  background-color: black;
  border-left: 1px solid white;
}

@media only screen and (min-width: 768px) {
  .description {
    margin-top: 20px;
    margin-left: 300px;
    margin-right: 300px;
  }

  .other-details {
    padding-left: 100px;
    text-align: left;
    font-size: 16px;
    font-weight: lighter;
  }

  .user-name {
    padding-left: 100px;
    font-size: 16px;
    font-weight: 550;
    text-align: left;
    align-self: center;
    justify-self: center;
  }

  .follow {
    align-self: center;
    justify-content: center;
  }
}
