.main {
  padding: 10px;
  margin: 20px;
  border-bottom: 3px solid black;
  border-top: 3px solid black;

  border-left: 1px solid rgb(199, 195, 195);
  border-right: 1px solid rgb(199, 195, 195);
}

.header {
  margin-left: 20px;
  margin-top: 5px;
  overflow: auto;
  justify-content: center;
}

.post-text {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 5px;
  font-weight: normal;
  text-align: justify;
  word-wrap: break-word;
  color: rgb(80, 79, 79);
}
