.booklet-word {
  text-align: center;
  font-size: 30px;
  font-weight: lighter;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.booklet {
  padding: 5px;
  margin-bottom: 0px;
}

.booklet-title {
  background-color: white;
  font-size: 25px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 700;
  padding: 8px;
}

.booklet-description {
  background-color: white;
  padding: 5px;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  font-size: 16px;
  justify-self: center;
  align-self: center;
  text-align: justify;
  color: rgb(105, 103, 103);
  border-bottom: 2px solid rgb(207, 203, 203);
  border-top: 2px solid rgb(207, 203, 203);
}

.visit-booklet-button {
  border: 0px;
  background-color: black;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.visit-booklet-button:hover {
  border: 0px;
  background-color: crimson;
  padding: 10px;
  color: white;
  font-size: 16px;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@media only screen and (min-width: 400px) {
  .booklet {
    width: 100%;
    border: 1px solid darkgrey;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    padding: 20px;
    align-self: center;
  }
}
